
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Form related to login UNAUTHORIZE PUBLIC PAGE-->
<form action="/action_page.php">
    <h1 class="text-center">PM MS</h1>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter password" id="pwd">
    </div>
    <div class="text-center">
        <a href="/dashboard" class="btn btn-primary"> Login</a>
        @*<button type="submit" class="btn btn-primary">Login</button>*@
    </div>
</form>
